.admin-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  align-self: auto;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-size: 12px;
}

.details {
  display: none;
}

th {
  background-color: #f2f2f2;
}

input[type="text"], select {
  padding: 6px;
  margin-bottom: 10px;
  font-size: 14px;
}

.admin button {
  width: 25%;
  background-color: #007BFF;
  align-self: center;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 12px;
}

.admin button.mostrarDetalles {
  width: 70%;
}

.admin .excel {
  background-color: #4CAF50;
  color: #fff;
}

.excel.button:hover{
  background-color: #398738;
}

.mostrarDetalles {
  display: block;
  margin: auto;
}

.admin button:hover {
  background-color: #0056b3;
}
