.admin-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  align-self: auto;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-size: 12px;
}

.details {
  display: none;
}

th {
  background-color: #f2f2f2;
}

input[type="text"], select {
  padding: 6px;
  margin-bottom: 10px;
  font-size: 14px;
}

.admin button {
  width: 24%;
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 12px;
}

.admin button.mostrarDetalles {
  width: 100%;
}

.admin .excel {
  background-color: #4CAF50;
  color: #fff;
}

.excel.button:hover{
  background-color: #398738;
}

.mostrarDetalles {
  display: block;
  margin: auto;
}

.admin button:hover {
  background-color: #0056b3;
}

.admin .refresh {
  background-color: #FF8000;
}

.admin .refresh:hover {
  background-color: #D46F00;
}

.admin .deleteall {
  background-color: #c61a09;
}

.admin .deleteall:hover {
  background-color: #8c1406;
}

.pagination-container {
  text-align: center;
  margin-top: 20px;
}

.pagination-container button {
  width: 80px;
  padding: 8px;
  margin: 0 5px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 12px;
  border-radius: 4px;
}

.pagination-container button:hover {
  background-color: #0056b3;
}

.pagination-container span {
  margin: 0 10px;
  font-size: 12px;
}

.pagination-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
