  .areas form {
    display: flex;
    flex-direction: column;
  }

  .areas label {
    margin-bottom: 8px;
    color: #333;
  }

  select,
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

  .areas button {
    width: 50%;
    background-color: #007BFF;
    align-self: center;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 12px;
  }

  .areas button:hover {
    background-color: #2980b9;
  }

  .areas button.add {
    background-color: #4CAF50;
  }

  .areas button.add:hover {
    background-color: #398738;
  }

  .areas button.delete {
    background-color: #c61a09;
  }

  .areas button.delete:hover {
    background-color: #8c1406;
  }