.tablaRutinas{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  th, td {
    align-self: auto;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }

input[type="text"] {
    padding: 8px;
    margin-bottom: 10px;
  }

select {
    padding: 8px;
    margin-bottom: 10px;
  }

button {
    padding: 8px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 30px;
    margin: auto;
  }

button:hover {
    background-color: #0056b3;
  }

.actions {
    display: flex;
    gap: 8px;
  }
  
button.deleteButton{
  background-color: #c61a09;
}

button.deleteButton:hover{
  background-color: #8c1406;
}